* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
background-color: hsl(47, 88%, 63%);
font-family: "Figtree", sans-serif;
}
.container {
display: flex;
justify-content: center;
margin-top: 20px;
}
.main {
background-color: hsl(0, 0%, 100%);
padding: 25px;
width: 430px;
height: 600px;
display: grid;
margin-bottom: 10px;
justify-items: stretch;
border-style: solid;
border-width: 2px;
border-radius: 20px;
box-shadow: 10px 10px;
justify-items: stretch;
align-content: space-between;
}
img {
border-radius: 20px;
}
p {
font-size: 16px;
}
h1 {
font-size: 28px;
color:  hsl(47, 88%, 63%);
}
#article {
line-height: 1.8;
font-size: 17px;
font-weight: 500;
color: hsl(0, 0%, 42%);
}
footer {
display: flex;
}
.textfooter{
margin-left: 15px;
margin-top: 5px;
font-size: 16px;
font-weight: 800;
}
section {
margin-top: 30px;
text-align: center;
}
.label {
font-weight: 800;
width: 90px;
padding: 5px;
background-color: hsl(47, 88%, 63%);
border-radius: 5px;
font-size: 14px;
text-align: center;
}
.attribution {
font-size: 11px;
text-align: center;
}
.attribution a {
color: hsl(228, 45%, 44%);
}

/* this screen for laptop */
@media screen and (max-width: 1440px){
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
  background-color: hsl(47, 88%, 63%);
  font-family: "Figtree", sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.main {
  background-color: hsl(0, 0%, 100%);
  padding: 25px;
  width: 430px;
  height: 600px;
  display: grid;
  margin-bottom: 10px;
  justify-items: stretch;
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  box-shadow: 10px 10px;
  justify-items: stretch;
  align-content: space-between;
}
img {
  border-radius: 20px;
}
p {
  font-size: 16px;
}
h1 {
  font-size: 28px;
  color:  hsl(47, 88%, 63%);
}
#article {
  line-height: 1.8;
  font-size: 17px;
  font-weight: 500;
  color: hsl(0, 0%, 42%);
}
footer {
  display: flex;
}
 .textfooter{
  margin-left: 15px;
  margin-top: 5px;
  font-size: 16px;
  font-weight: 800;
}
section {
  margin-top: 30px;
  text-align: center;
}
.label {
  font-weight: 800;
  width: 90px;
  padding: 5px;
  background-color: hsl(47, 88%, 63%);
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
}

/* this screen for mobile */

@media screen and (max-width: 375px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
  background-color: hsl(47, 88%, 63%);
  font-family: "Figtree", sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  }
.main {
  background-color: hsl(0, 0%, 100%);
  padding: 20px;
  width: 300px;
  height: 450px;
  display: grid;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  box-shadow: 10px 10px;
  gap: 5px;
}
.picturecontent {
 border-radius: 10px;
 width: 250px;
}
p {
  font-size: 10px;
}
h1 {
  font-size: 20px;
  color:  hsl(47, 88%, 63%);
}
#article {
  line-height: 1.8;
  font-size: 13px;
  font-weight: 500;
  color: hsl(0, 0%, 42%);
}
footer {
  display: flex;
}
.imagesfooter {
  width: 30px;
}
 .textfooter{
  margin-left: 15px;
  margin-top: 10px;
  font-size: 10px;
  font-weight: 800;
}
section {
  margin-top: 30px;
  text-align: center;
}
.label {
  font-weight: 800;
  width: 60px;
  padding: 5px;
  background-color: hsl(47, 88%, 63%);
  border-radius: 5px;
  font-size: 10px;
  text-align: center;
}
.attribution {
  font-size: 8px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
}
